
html , body
{
    font-family: Arvo , serif;
    background: url(images/sky.jpg)100% 100% no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#logo
{
    width: 60px;
    height: 30px;
}
nav
{
    background: rgba(0, 0, 0, 0.5);
}
nav li
{
    color: aliceblue;
    font-size: 20px;
    margin-left: 0px;
    padding: 0px;
   

}
.navbar-nav a
{

    color: aliceblue;
}
.navbar-nav a:hover
{
    color: #00FFB8;
}
nav li:hover
{
    border-bottom:  0.1px solid #00FFB8;
    
}

.image
{
    margin-left:105px; 
    height: 155px;
    
}
.container h1
{
    font-size: 80px;
    color: aliceblue;
    margin:15px 0px 30px 0px;
    text-align: center;
}

.container
{
    margin-top: 02px;
    margin-bottom: 37px;
}

.content
{
    margin-bottom: 10px;
    
}
.content h2
{
    margin-top: 08px;
    color: aliceblue;
    text-align: center;
    
}

.page-footer
{
    bottom: 0px;
    background-color: #eeee;
}

.des
{
    color: aliceblue;
    font-size: 20px;
    
}
